.border{
    padding: 10px;
    border: 1px solid #000;
}

.logo {
    width: 120px;
    display: flex;
    align-items: center;
  }
  
  .logo img{
    width: 100%;
  }

.footer {
    display: flex;
    width: 100%;
    background: #33CCFF;
    height: 40px;
    align-items: center;
    padding: 5px;
  }

